body {
    margin: 0;
    display: flex;
    overflow: hidden;
    background-color: gray;
}

/* app container */
.app{
    display: flex;
    margin-top: 4vh;
}

/* menu bar/title bar */
.title-bar {
    -webkit-app-region: drag; /* allows dragging the window */
    height: 32px;
    min-width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: #202020;
}
.title-bar button {
    -webkit-app-region: no-drag;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
    border: none;
}

/* activity bar */
.activity-bar{
    width: 50px;
    height: 96vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right:1px solid gray;
    top: 32px;
    left: 0;
    padding-top: 10px;
    position: fixed;
    z-index: 100;
}

/* Activity bar active svg container */
.active-svg {
    padding-left: 10px;
    border-left: 5px solid #f44337;
    display: flex;
    justify-content: center;
}

/* Activity bar item active */
.active-activity-icon {
    width: 32px;
    height: 32px;
    background-color: #f44337; /* color */
    mask: url('Assets/file_copy.svg') no-repeat center;
    -webkit-mask: url('Assets/file_copy.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    
}

/* Activity bar item non active number 3 */
.activity-icon.three {
    width: 32px;
    height: 32px;
    background-color: #2196f3; /* color */
    mask: url('Assets/plus.svg') no-repeat center;
    -webkit-mask: url('Assets/plus.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.activity-icon.three:hover {
    background-color: #f44336; 
}

/* Activity bar item non active number 2 */
.activity-icon.two {
    width: 32px;
    height: 32px;
    background-color: #2196f3; /* color */
    mask: url('Assets/quit.svg') no-repeat center;
    -webkit-mask: url('Assets/quit.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.activity-icon.two:hover {
    background-color: #f44336; 
}

/* Activity bar item non active number 1 */
.activity-icon.one {
    width: 32px;
    height: 32px;
    background-color: #2196f3; /* color */
    mask: url('Assets/document_search.svg') no-repeat center;
    -webkit-mask: url('Assets/document_search.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.activity-icon.one:hover {
    background-color: #f44336; 
}

/* sidebar overall class*/
.sidebar {
    flex-direction: column;
    height: 96vh;
    width: 150px;
    /* overflow-y: hidden; */
    background-color: #333333;
    justify-content: space-between; 
    top: 32px;
    left: 50px;
    gap: 15px;
    position: fixed;
    transition: width 0.01s;
}

/* Sidebar resize item class */
.sidebar-resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 96vh;
    cursor: ew-resize;
    background: 202020;
    z-index: 10;
}


  