body {
    margin: 0;
    display: flex;
    overflow: hidden;
    background-color: gray;
}
body.inactive {
    filter: grayscale(100%) brightness(70%);
    pointer-events: none; 
    transition: filter 0.3s ease, brightness 0.3s ease;
  }

/* app container */
.app{
    display: flex;
    margin-top: 4vh;
}

/* menu bar/title bar */
.title-bar {
    -webkit-app-region: drag; 
    height: 32px;
    min-width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: #202020;
}
.title-bar button {
    -webkit-app-region: no-drag;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
    border: none;
}
/* window buttons */
.window-controls {
    -webkit-app-region: no-drag; 
    display: flex;
    position: absolute;
    top: 9px;
    left: 8px;
}
.control-btn {
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}
  
.close { background-color: #ff5f56; width: 15px; height: 15px;}
.minimize { background-color: #ffbd2e; width: 15px; height: 15px;}
.maximize { background-color: #27c93f; width: 15px; height: 15px;}

/* activity bar */
.activity-bar{
    width: 50px;
    height: 100vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right:1px solid gray;
    top: 32px;
    left: 0;
    padding-top: 10px;
    position: fixed;
    gap: 20px;
    z-index: 100;
}

/* Activity bar item active */
.active-activity-icon {
    width: 32px;
    height: 32px;
    background-color: #f44337; /* color */
    mask: url('Assets/file_copy.svg') no-repeat center;
    -webkit-mask: url('Assets/file_copy.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    
}
.active-activity-icon::before {
    content: '';  
    position: absolute;
    left: 0;  
    top: 0;
    bottom: 0;
    width: 5px;  
    background-color: #f44337; 
    mask: url('Assets/file_copy.svg') no-repeat left center; 
    -webkit-mask: url('Assets/file_copy.svg') no-repeat left center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

/* Activity bar item non active number 3 */
.activity-icon.three {
    width: 32px;
    height: 32px;
    background-color: #2196f3;
    mask: url('Assets/plus.svg') no-repeat center;
    -webkit-mask: url('Assets/plus.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.activity-icon.three:hover {
    background-color: #f44336; 
}

/* Activity bar item non active number 2 */
.activity-icon.two {
    width: 32px;
    height: 32px;
    background-color: #2196f3;
    mask: url('Assets/quit.svg') no-repeat center;
    -webkit-mask: url('Assets/quit.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    top: 95vh;
}
.activity-icon.two:hover {
    background-color: #f44336; 
}

/* Activity bar item non active number 1 */
.activity-icon.one {
    width: 32px;
    height: 32px;
    background-color: #2196f3; 
    mask: url('Assets/document_search.svg') no-repeat center;
    -webkit-mask: url('Assets/document_search.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
.activity-icon.one:hover {
    background-color: #f44336; 
}

/* sidebar overall class*/
.sidebar {
    flex-direction: column;
    height: 100vh;
    width: 150px;
    background-color: #333333;
    justify-content: space-between; 
    top: 32px;
    left: 50px;
    gap: 15px;
    position: fixed;
    transition: width 0.01s;
}

/* Sidebar resize item class */
.sidebar-resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 96vh;
    cursor: ew-resize;
    background: 202020;
    z-index: 10;
}

